body {
  font-family: Bahnschrift Light;
  margin: auto;
  max-width: 1280px;
  background-color: #e2ff7a;
}

h1 {
 text-align: center;

}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
img {
  width: 600px;
  display: block;
  margin: 0px auto;
}